#view-messages-block {
    background-image: url("https://img.freepik.com/foto-gratis/textura-pizarra-pizarra-pizarra-verde-blanco-vacia_179068-216.jpg?size=626&ext=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#view-messages-block span {
    left: 0;
    margin-left: 20px;
}

#view-messages-block .msg_content {
    text-align: right;
    margin-right: 20px;
}

#msg-text-area {
    width: 100%;
    border: black;
    border-style: ridge;
    border-width: 1px;
}
