#content {
    background-image: url("https://img.freepik.com/foto-gratis/textura-pizarra-pizarra-pizarra-verde-blanco-vacia_179068-216.jpg?size=626&ext=jpg");
    margin-top: 20px;
    margin-bottom: 20px;
}

.row-title {
    text-align: center;
    color: whitesmoke;
}

.row-div {
    background-image: url("https://img.freepik.com/foto-gratis/textura-pizarra-pizarra-pizarra-verde-blanco-vacia_179068-216.jpg?size=626&ext=jpg");
    border: solid;
    border-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

.div-block {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;

    margin-top: 20px;
    margin-bottom: 20px;
}

.div-content-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
}

.div-content-block img {
    max-width: 300px;
}

.arrow-img {
    width: 100px;
    position: relative;
    left: 0;
}

.forward-arrow-img {
    right: 0px;
}
.prev-arrow-img {
    left: 0px;
}

.hidden {
    display: none;
}

.scrollable {
    align-items: center;
    position: relative;
    max-height: 300px;
    width: auto;
    overflow-y: auto;
}

#searched-content #exit-img {
    width: 30px;
    margin: 30px;
    cursor: pointer;
}

#no-search-result {
    color: red;
}

pre {
    white-space: pre-wrap;
    max-width: 750px;
}

label {
    color: white;
    text-transform: uppercase;
}
