.row-title {
    text-align: center;
}

.div-block {
    width: 100%;
    display: flex;
    align-items: center;
}

.div-content-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
}

.div-content-block img {
    max-width: 300px;
}

.arrow-img {
    width: 100px;
    position: relative;
    left: 0;
}

.forward-arrow-img {
    right: 0px;
}
.prev-arrow-img {
    left: 0px;
}

.hidden {
    display: none;
}

.scrollable {
    align-items: center;
    position: relative;
    max-height: 300px;
    width: auto;
    overflow-y: auto;
}

#searched-content #exit-img {
    width: 30px;
    margin: 30px;
    cursor: pointer;
}

#no-search-result {
    color: red;
}
